<form id="frm" action="http://localhost:1000/api/OfferCatalog" method="GET">
<div>
    <div><label>Zip Code</label><input name="zip" id="zip" type="text"/></div>
    <div><label>Personal Code</label><input name="personal_code" id="personal_code" type="text"/></div>
    <div><label>Commodity Type</label><input name="commodity" id="commodity" type="text"/></div>
    <div><label>Utility</label><input name="udc" id="udc" type="text"/></div>
</div>
</form>