@model EnrollmentModel.OfferCatalog
<div>
<div><label>Zip Code</label><input id="NewCatalogZipCode" type="text"/></div>
<div><label>Personal Code</label><input id="NewCatalogPersonalCode" type="text"/></div>
</div>
